/* This is  my main CSS file */
@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
	box-sizing: border-box; /* changes width property
	to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
	display: block; /* just in case we have
	any older browsers that don't recognize
	the HTML5 semantic elements */
}

.title{
	background-color: #A6D8DB; /*same color in the feeling lucky image*/
	padding-bottom: .05px;
}

body {
	margin: 0; /* remove any margin from body */
	padding: 0; /* ditto for padding */

	padding-bottom: 20px;
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-image: url("/weather/images/sunny-winter.jpg");
	background-size: cover;
}

nav ul{
	display: flex;
}

/*Add space between links on the nav bar*/
nav li {
	padding-right: 5%;
	list-style-type: none;
}

/*The last link on the nav bar doesn't need extra space to the right*/
nav li:last-child {
	margin-right: 0;
	padding-right: 0;
}

/*Move the nav bar to the bottom in a fixed position*/
nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: salmon;
}

nav a:link {
	text-decoration: none;
	color: #47556F;
}

.title h1 {
	text-align: right;
	margin-top: -.2em;
}

.overview h2{
	margin-top: -.1em;
}

.curr_conditions h2{
	margin-top: -.3em;
}

.curr_conditions ul{
	list-style-type: none;
}

.curr_conditions {
	width: 50%;
	height: 100;
}

#wind{
	width: 25%;
	float: left;
}

#windInfo{
	width: 55%;
	float: left;
	padding-left: 25px;
}

#precip{
	width: 55%;
	float: left;
}

#precipInfo{
	width: 32%;
	float: left;
	margin-left: -35px; /*Info was positioned to far to the right*/
	margin-top: 5px; /*This fixes the alignment, info was a little to high*/
}

/*We don't need to view the hourly conditions on the small frame*/
.hourly{
	visibility: hidden;
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Sansita, "second choice", generic-family;
}


