/* This is  my main CSS file */

@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
* {
	box-sizing: border-box;
	/* changes width property
	to total width instead of content width */
}


/*for mobile devices*/

#acmeBody {
	background-image: url(../images/site/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Chelsea Market', cursive;
	font-size: 20px;
	width: 95%;
}

#acmeMain {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.6);
}

#pageHeader {
	background-color: #ffffff;
	background-size: contain;
	background-image: url(../images/site/logo.png);
	height: 120px;
	background-repeat: no-repeat;
}

#pageNav {
	display: flex;
	background-color: #de2226;
}

#pageNav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	flex-grow: 1;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
}

#pageNav a {
	color: #ffffff;
	text-decoration: none;
}

#pageNav a:hover {
	color: #0000ee;
}

#contentTitle {
	padding-left: 10px;
	display: flex;
	font-size: 25px;
	font-weight: bolder;
}

#hero {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url(../images/site/feature_420.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #de2226;
}

#hero ul {
	list-style: none;
	font-size: 12px;
	padding: 0;
	padding-left: 10px;
	font-weight: bold;
	margin: 0;
	background-color: rgba(220, 220, 220, .6);
	width: 55%;
}

/*resize the button on the hero*/
#hero img {
	width: 70%;
	height: auto;
}

#featuredRecipies h2 {
	text-align: center;
	font-size: 20px;
}

#recipies {
	width: 100%;
	font-size: 15px;
}

#recipies /*th*/,
td {
	text-align: center;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background: rgb(200, 200, 200);
}

#rocketReviews h2 {
	text-align: center;
	font-size: 20px;
}

#rocketReviews ul {
	display: flex;
	flex-direction: column;
	text-align: left;
}

#rocketReviews li {
	padding-bottom: 10px;
	font-size: 20px;
}

#rocketReviews li:last-child {
	padding-bottom: 0;
}

#contentTitle {
	font-weight: bolder;
	font-size: 25px;
}

#productWrapper {
	display: flex;
	width: 100%;
}

#productImg {
	width: 50%;
}

#productImg Img {
	width: 100%;
	height: auto;
	padding-right: 15px;
	padding-top: 15px;
}

#productInfo {
	display: flex;
	flex-direction: column;
	width: 50%;
	font-size: 15px;
	padding-top: 15px;
}

p {
	padding: 0;
	margin: 0;
}

#madeBy {
	margin-top: 20px;
}

#reviewScores {
	margin-bottom: 20px;
}

#made,
#reviews {
	font-weight: bold;
	text-align: right;
	padding-top: 15px;
}

#description {
	padding-bottom: 15px;
}

#price {
	color: red;
	font-weight: bolder;
	font-size: 22px;
	padding-top: 15px;
}

footer {
	font-size: 12px;
	text-align: center;
	border-style: solid;
	border-top: solid #000000;
	border-bottom: none;
	border-right: none;
	border-left: none;
	background-color: #ffffff;
}


/**************************/


/*for laptop screens*/

@media only screen and (min-width: 750px) {
	footer {
		font-size: 30px;
	}
	#acmeBody {
		width: 98%
	}
	#contentTitle {
		font-size: 30px;
		padding: 5px;
		padding-left: 15px;
	}
	#pageNav {
		font-size: 20px;
	}
	#pageNav a {
		display: flex;
		font-size: 20px;
	}
	#hero {
		flex-direction: row;
		height: 480px;
		justify-content: flex-end;
		background-image: url(../images/site/feature.jpg);
		background-size: cover;
	}
	#hero ul {
		font-size: 40px;
		width: 55%;
		height: 100%;
	}
	#hero img {
		width: 50%;
		height: auto;
	}
	#infoWrapper {
		display: flex;
		flex-direction: row;
	}
	#featuredRecipies {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 50px;
	}
	#featuredRecipies img {
		width: 40%;
		height: auto;
	}
	#featuredRecipies a {
		font-size: 20px;
	}
	#rocketReviews {
		display: flex;
		flex-direction: column;
		width: 50%;
		justify-content: center;
	}
	#productImg {
		display: flex;
		justify-content: center;
		padding-top: 15px;
	}
	#productImg img {
		width: auto;
		height: 70%;
	}
	#productInfo {
		font-size: 35px;
	}

	#price{
		font-size: 35px;
	}
}
